# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
*.ipch
*.tlog
*.log
*.pdb
*.enc
*.db
*.db-shm
*.db-wal
*.opendb
*.cso
*.ilk
*.idb
*.txt
*.rar
DX12_Project/_Content/87xm06x9pyps-room/3ds/Room.3ds
DX12_Project/_Content/87xm06x9pyps-room/C4d/Room.c4d
DX12_Project/_Content/87xm06x9pyps-room/OBJ/Room.mtl
DX12_Project/_Content/87xm06x9pyps-room/OBJ/Room.wfobj
