# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
x64/**/*.obj
DX12_Project/x64/**/*.obj
_Modules/**/*.obj
_Toolkits/**/*.obj
Artemis/**/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Misc
*.ipch
*.tlog
*.log
*.pdb
*.enc
*.db
*.db-shm
*.db-wal
*.opendb
*.cso
*.ilk
*.idb
*.txt
*.rar

#Visual Studio
*.module.json
*.ifc
*.ifc.*
*.ifc.*.*
*.lib.recipe
*.vsidx
.suo
_IsIncrementalBuild

#Output Paths
x64/**
DX12_Project/x64/**
ImGUI/x64/**
*.user
DX12_Project/DX12_Project.vcxproj.user
DX12_Project/DX12_Project.vcxproj.user
/_Modules/SysRenderer/x64/Debug/_IsIncrementalBuild
/_Modules/SysCore/x64/Debug/_IsIncrementalBuild
/_Modules/SysMemory/x64/Debug/_IsIncrementalBuild
/_Modules/SysUtilities/x64/Debug/_IsIncrementalBuild
/_Toolkits/ImGUI/x64/Debug/_IsIncrementalBuild
/.vs/DX12_Project/v17/fileList.bin
/.vs/VSWorkspaceState.json
/.vs/DX12_Project/FileContentIndex/36c64ee6-144d-4982-9d53-53b97eff9a42.vsidx
